@import url(/src/reset.css);
h1,h2,h3,h4,h5,h6 {
   font-family: 'Merriweather', serif;
}


.container {
   padding: 10px 10px 0px 10px;
   max-width: 100%;
	margin: 0 auto;
  	background-image: url(/image/milky-way-gead.jpg);
	background-size: cover;

}
.form {
	margin: 10px 5px;
	text-align: center;
}
.inputtext {
	padding: 5px 15px;
	background-color: transparent;
	color: white;
}
.inputtext:hover {
	border: 1px solid rgb(204, 240, 247);
	border-radius: 15px;
}

.button {
	padding: 5px 15px;
	color: white;
	background: rgb(34, 29, 121);
		background: linear-gradient(90deg, rgba(34, 29, 121, 1) 0%, rgba(95, 95, 167, 1) 35%, rgba(87, 209, 233, 1) 100%);
	border-radius: 15px;
	margin-right: 5px;
}

.button_current {
	padding: 5px 15px;
	color: white;
	background: rgb(34, 29, 121);
		background: linear-gradient(90deg, rgba(34, 29, 121, 1) 0%, rgba(95, 95, 167, 1) 35%, rgba(87, 209, 233, 1) 100%);
	border-radius: 15px;
}

.maincont {
	text-align: center;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.town {
	text-align: center;
	margin-right: 30px;
}
.icon {
	font-size: 20px;
}
h1 {
	text-align: left;
    padding: 15px 0px;
	color: rgb(204, 240, 247);
	 text-transform: capitalize;
}
h3{
    margin-bottom: 5px;
    color:rgb(204, 240, 247);
	 
}
.cloud::first-letter {
	text-transform: capitalize;
}
.main_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.block_temperature {
   display: flex;
   align-items: center;
   
}
i{
    font-size: 90px;
}
a {
	color: rgb(204, 240, 247);
}
.temperature {
    display: flex;
	 color: rgb(204, 240, 247);
}
.degree {
    font-size: 50px;
    font-weight: 800;
}
.unit {
    font-size: 19px;
    font-weight: 600;
}
.button_cel_fah:hover {
	color: azure;
}
.block_discribe {

}